@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fff;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.pc-navber {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 5px 0;
  z-index: 100;
}

.pc-navber ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.pc-navber ul li a {
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
}

.pc-navber ul li a:hover {
  color: #867474;
}

.g-navi {
  display: none;
}

.g-navi-list {
  display: none;
}

.sp {
  display: none;
}

.pc-navber h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 20px;
  color: #543e40;
}

.pc-navber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbtn {
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #eba3a6 30%, #65bff2);
  padding: 18px 36px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

.navbtn:hover {
  opacity: 0.8;
}

.pc-header {
  width: 100%;
  vertical-align: bottom;
}

.clear {
  display: none;
}

.sp-header {
  display: none;
}

.header-bottom {
  background: #f5ece1;
  text-align: center;
  padding-bottom: 25px;
}

.header-bottom img {
  width: 70%;
}

.header-bottom img:hover {
  opacity: 0.8;
}

.sp-navbar {
  display: none;
}

header {
  margin-top: 76px;
}

/* いつか独立して見いたいあなたへセクション */
.worries-point {
  background-color: #867474;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 60px 0;
}

/* ↓↓ tsuchiya update ↓↓ */
.check-point {
  padding: 55px 50px 0 50px;
  /* background-image: url(../img/check-point.png); */
  /* background-position: top center; */
  /* background-size: cover; */
  background-color: #fdf5ea;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.check-point::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 170px 0 0 50vw;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.check-point::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 170px 50vw;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ↑↑ tsuchiya update ↑↑ */
.check-left ul li {
  padding-top: 30px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.check-left ul li span {
  margin-right: 5px;
}

.check-type {
  color: #e57b7b;
  font-size: x-large;
}

.check-right {
  content: "";
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
}

.check-right img {
  width: 100%;
}

.kaiketu-container h2 {
  text-align: center;
  margin: 30px;
  font-size: 45px;
}

.kaiketu-container p {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

.kaiketu-container p span {
  font-size: 35px;
  font-weight: bold;
}

.structure {
  margin-bottom: 32px;
}

.structure img {
  margin-top: 100px;
  max-width: 100%;
}

/* よくある起業スクールとの違いとは？ */
.sab {
  display: none;
}

.feature-wrapper {
  background: url(../img/hemp-cloth.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-repeat: repeat;
  padding-top: 40px;
  padding-bottom: 55px;
}

.feature-container {
  background: #fff;
  padding: 50px;
  margin: 50px 150px 50px 150px;
}

.feature-container img {
  width: 220px;
}

.feature-container h2 {
  font-size: 38px;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
}

.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-box {
  margin: 0 15px;
  font-size: 80px;
  font-family: "Judson", serif;
}

.p-box {
  font-size: 28px;
  max-width: 600px;
}

.p-box p {
  margin: 0 15px;
}

.p-box span {
  font-size: 18px;
}

.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

/* 起業まで導く６つのコンテンツ */
.sixcontents {
  margin-top: 50px;
}

.band {
  text-align: center;
  background: #cc8b8b;
  margin: 50px 150px;
  padding: 23px;
}

.band h2 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 992px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.band {
  text-align: center;
  background: #cc8b8b;
  margin: 66px 150px;
  padding: 15px;
}

.six-item {
  margin-bottom: 70px;
  text-align: center;
}

.six-item:nth-of-type(2n) {
  padding-left: 70px;
}

.six-item p {
  margin: 0 auto;
  font-size: 23px;
  margin-bottom: 15px;
}

.six-item img {
  max-width: 350px;
}

/* 変更分------------------------↓ */
@media screen and (max-width: 400px) {
  .six-item img {
    width: 100%;
  }
}

/* 変更分------------------------↑ */
@media screen and (max-width: 992px) {
  nav ul li a {
    font-size: 14px;
  }
  .pc-navber ul li a {
    font-size: 13px;
  }
  .navbtn {
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #eba3a6 30%, #65bff2);
    padding: 19px 15px;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    font-size: 11px;
  }
  /* いつか独立してみたい */
  .check-point {
    height: 50%;
  }
  .check-left {
    margin-top: -55px;
  }
  .check-type {
    color: #e57b7b;
    font-size: x-large;
  }
  .check-left ul li {
    padding-top: 21px;
    font-size: 16px;
  }
  .check-left ul {
    margin: 40px 0;
  }
  .check-left ul li span {
    margin-right: 5px;
  }
  .kaiketu-container p {
    font-size: 17px;
  }
  /* よくある起業スクールとの違い */
  .sp {
    display: none;
  }
  .feature-container {
    background: #fff;
    padding: 50px;
    margin: 50px;
  }
  .feature-container h2 {
    font-size: 31px;
  }
  .number-box {
    font-size: 65px;
  }
  .p-box {
    font-size: 20px;
    margin: 0 auto;
  }
  .p-box span {
    font-size: 13px;
  }
  .feature-container img {
    width: 200px;
  }
  .feature-wrapper {
    background: url(../img/hemp-cloth.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-repeat: repeat;
    padding-top: 40px;
  }
  /* ６つのコンテンツ */
  .band {
    margin: 50px 35px;
  }
  .six-item {
    margin-bottom: 44px;
  }
  .six-item p {
    margin-bottom: 12px;
  }
  .six-item:nth-of-type(2n) {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .pc-navber {
    display: none;
  }
  header {
    margin-top: 0px;
  }
  .pc-navber {
    display: none;
  }
  .pc-header {
    display: block;
    width: 100%;
  }
  .sp-header {
    display: none;
  }
  .sp-navbar {
    display: block;
  }
  header {
    margin-top: 0px;
  }
  .navbtn {
    padding: 19px 29px;
    font-size: 15px;
  }
  /*========= ナビゲーションのためのCSS ===============*/
  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 95%;
    height: 100vh;
    /*ナビの高さ*/
    background: #fff;
    /*動き*/
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive {
    right: 0;
  }
  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  /*ナビゲーション*/
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  /*リストのレイアウト設定*/
  #g-nav li {
    list-style: none;
    text-align: center;
  }
  #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
  }
  /*========= ボタンのためのCSS ===============*/
  .openbtn {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #72c1db;
    border-radius: 5px;
  }
  /*×に変化*/
  .openbtn span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .navbtn span {
    font-size: 10px;
  }
  .w-container {
    max-width: 1166px;
    padding-left: 4%;
    padding-right: 4%;
  }
  .pc-header {
    width: 100%;
    vertical-align: bottom;
  }
  .hero-container {
    height: 100%;
  }
  .hero-container a img {
    width: 78%;
    margin: 0 auto;
  }
  .header-bottom {
    text-align: center;
  }
  .header-bottom img:hover {
    opacity: 0.8;
  }
  /* いつか独立したいあなたへ */
  .worries-point {
    font-size: 20px;
  }
  .check-left ul li {
    margin: 0 18%;
  }
  .check-right img {
    display: none;
  }
  .check-left {
    margin-top: 0;
  }
  .check-left ul li:first-child {
    padding-top: 0px;
  }
  .kaiketu-container h2 {
    font-size: 30px;
  }
  /* よくある起業スクールとの違い */
  .feature-container {
    padding: 10px;
    margin: 0px;
    padding-bottom: 70px;
  }
  .feature-container h2 {
    font-size: 32px;
  }
  .feature-container h2 {
    margin-top: 30px;
    padding-top: 48px;
  }
  .outer {
    display: block;
    text-align: center;
  }
  .outer img {
    width: 345px;
    height: 232px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    margin-top: 10px;
  }
  .feature-box {
    display: block;
    text-align: center;
  }
  .p-box {
    font-size: 18px;
  }
  .rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rev img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .rev .feature-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* ６つのコンテンツ */
  .band h2 {
    font-size: 30px;
  }
  /* ナビバー */
  .g-navi-list {
    display: block;
  }
  .g-navi-list {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  /* いつか独立してみたいあなたへ */
  .pc {
    display: block;
  }
  .hero .clear {
    display: none;
  }
  .sp {
    display: block;
    width: 100%;
  }
  .sab {
    display: none;
  }
  .worries-point {
    font-size: 25px;
  }
  .check-point {
    padding: 25px 26px 90px 30px;
    display: block;
  }
  .check-left ul li {
    padding-top: 36px;
    font-size: 17px;
  }
  .kaiketu-container h2 {
    margin: 20px;
    font-size: 31px;
  }
  .kaiketu-container p {
    font-size: 14px;
  }
  /* 図解 */
  .structure img {
    margin-top: 45px;
  }
  /* よくある起業スクールとの違いとは？ */
  .feature-container {
    padding: 10px;
    margin: 23px 10px;
    padding-bottom: 30px;
  }
  .feature-container h2 {
    font-size: 23px;
  }
  .feature-container h2 {
    margin-top: 30px;
    padding-top: 48px;
  }
  .outer {
    display: block;
  }
  .outer img {
    width: 295px;
    height: 182px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    margin-top: 10px;
  }
  .feature-box {
    display: block;
    text-align: center;
  }
  .rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rev img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .rev .feature-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .number-box {
    font-size: 59px;
  }
  .feature-container h2 {
    margin-top: 0px;
    padding-top: 48px;
  }
  .feature-container h2 {
    font-size: 25px;
  }
  .p-box {
    font-size: 15px;
  }
  /* 6つのコンテンツ */
  .band {
    margin: 40px 0px;
  }
  .band h2 {
    font-size: 30px;
  }
  .six-item:nth-of-type(2n) {
    padding-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .pc-header {
    display: none;
  }
  .pc {
    display: none;
  }
  .hero .clear {
    display: block;
  }
  .header-bottom {
    background: #f7eee9;
  }
  .clear {
    display: block;
  }
  .sab {
    display: block;
  }
  .navbtn {
    padding: 16px 12px;
    font-size: 13px;
  }
  .check-point {
    padding: 25px 50px 38px 50px;
    position: relative;
    background-image: none;
    background-color: #f4ece1;
  }
  .check-left ul li {
    margin: 0;
  }
  .check-point::before {
    display: none;
  }
  .check-point::after {
    display: none;
  }
  .kaiketu-container h2 {
    margin-top: 52px;
    font-size: 23px;
  }
  .kaiketu-container p span {
    font-size: 28px;
  }
  .p-box span {
    font-size: 12px;
  }
  /* トライアングル */
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 90px 0 90px;
    border-color: #867474 transparent transparent transparent;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* サービスの仕組み */
  .pc {
    display: none;
  }
  .clear {
    display: block;
  }
  /* 仕組み */
  .structure img {
    margin-top: 72px;
  }
  /* よくある起業スクールとの違い */
  .feature-container h2 {
    font-size: 19px;
  }
  /* 6つのコンテンツ */
  .band h2 {
    font-size: 25px;
  }
  .six-item p {
    font-size: 17px;
  }
  .six-item img {
    max-width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .outer img {
    width: 100%;
  }
  .last-item img {
    height: 238px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vh;
  }
}

/* ナガイ担当ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
#support-member {
  background-color: #fff6f6;
  padding: 8rem 0;
}

.support-member-title {
  text-align: center;
}

.support-member-title h2 {
  font-size: 2.5rem;
}

.support-member-title p {
  font-size: 1.5rem;
}

.support-member-wrapper {
  background-color: #fff;
  margin: 5rem 10rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support-member-box {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.support-member-box img {
  width: 15%;
  padding: 1rem;
}

@media screen and (max-width: 1080px) {
  .support-member-box {
    padding: 2rem 1rem;
  }
  .support-member-box img {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .support-member-title h2 {
    font-size: 2rem;
  }
  .support-member-title p {
    font-size: 1rem;
  }
  .support-member-wrapper {
    margin: 3rem;
  }
  .support-member-box img {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .support-member-title h2 {
    font-size: 1.5rem;
  }
  .support-member-title p {
    font-size: 0.7rem;
  }
  .support-member-box img {
    width: 40%;
  }
}

@media screen and (max-width: 460px) {
  .support-member-title h2 {
    font-size: 1.3rem;
  }
  .support-member-title p {
    font-size: 0.5rem;
  }
  .support-member-wrapper {
    margin: 3rem 1rem;
  }
  .support-member-box img {
    width: 30%;
  }
}

#schedule {
  padding: 8rem 0;
}

.schedule-title {
  text-align: center;
}

.schedule-title h2 {
  font-size: 2.5rem;
}

.schedule-title p {
  font-size: 1.5rem;
}

.schedule-wrapper {
  margin: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedule-box img {
  width: 100%;
}

.schedule-box img.sp {
  display: none;
}

@media screen and (max-width: 1080px) {
  .schedule-wrapper {
    margin: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .schedule-title h2 {
    font-size: 2rem;
  }
  .schedule-title p {
    font-size: 1rem;
  }
  .schedule-wrapper {
    margin: 3rem;
  }
  .schedule-box {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .schedule-title h2 {
    font-size: 1.5rem;
  }
  .schedule-title p {
    font-size: 0.7rem;
  }
  .schedule-wrapper {
    margin: 3rem 0.3rem;
  }
}

#voice {
  padding: 3rem 0;
}

.voice-title {
  text-align: center;
}

.voice-title h2 {
  font-size: 2.5rem;
}

.voice-title p {
  font-size: 1.5rem;
}

.voice-wrapper {
  margin: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.voice-box {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.voice-box img {
  width: 100%;
}

.voice-box img.voice1 {
  width: 50%;
}

.voice-box img.voice2 {
  width: 33%;
}

@media screen and (max-width: 1080px) {
  .voice-wrapper {
    margin: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .voice-title h2 {
    font-size: 2rem;
  }
  .voice-title p {
    font-size: 1rem;
  }
  .voice-wrapper {
    margin: 3rem;
  }
  .voice-box {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .voice-title h2 {
    font-size: 1.5rem;
  }
  .voice-title p {
    font-size: 0.7rem;
  }
  .voice-wrapper {
    margin: 3rem 0.3rem;
  }
  .voice-box img.voice1 {
    width: 100%;
  }
  .voice-box img.voice2 {
    width: 50%;
  }
  .voice-box img.voice2.pc {
    display: none;
  }
}

#flow {
  padding: 8rem 0;
  background-color: #fff6f6;
}

.flow-title {
  text-align: center;
}

.flow-title h2 {
  font-size: 2.5rem;
}

.flow-title p {
  font-size: 1.5rem;
}

.flow-wrapper {
  margin: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flow-box {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flow-box img {
  width: 100%;
  margin-top: -8%;
}

.flow-box img.sp2 {
  display: none;
}

.flow-box img.flow5 {
  z-index: 2;
}

.flow-box img.flow4 {
  z-index: 3;
}

.flow-box img.flow3 {
  z-index: 4;
}

.flow-box img.flow2 {
  z-index: 5;
}

.flow-box img.flow1 {
  z-index: 6;
}

@media screen and (max-width: 1080px) {
  .flow-wrapper {
    margin: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .flow-title h2 {
    font-size: 2rem;
  }
  .flow-title p {
    font-size: 1rem;
  }
  .flow-wrapper {
    margin: 3rem;
  }
  .flow-box {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .flow-title h2 {
    font-size: 1.5rem;
  }
  .flow-title p {
    font-size: 0.7rem;
  }
  .flow-wrapper {
    margin: 3rem 0.3rem;
  }
  .flow-box img {
    margin-top: 0;
  }
  .flow-box img.sp2 {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */